<!DOCTYPE html>
<html lang="en" data-layout-mode="light_mode">

<partial name="Layout/_Header" />

<body>
	<!-- Global Loader -->
	<div id="global-loader">
		<div class="whirly-loader"></div>
	</div>

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<partial name="Layout/_Navbar" />
		<partial name="Layout/_Sidebar" />
		
		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content">
				@RenderBody()
			</div>
		</div>
	</div>
	<!-- /Main Wrapper -->

	<partial name="Layout/_Footer" />
	
	@await RenderSectionAsync("Scripts", required: false)
	@await Component.InvokeAsync("NToastNotify")
</body>
</html>
